@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   & {
      --background-app-rgb: 255, 255, 255;
      --color-primary-900: 8, 16, 11;
      --color-primary-800: 16, 32, 22;
      --color-primary-700: 24, 48, 32;
      --color-primary-600: 33, 64, 43;
      --color-primary-550: 41, 79, 54;
      --color-primary-500: 49, 95, 65;
      --color-primary-450: 57, 111, 75;
      --color-primary-400: 65, 127, 86;
      --color-primary-350: 78, 153, 104;
      --color-primary-300: 97, 174, 123;
      --color-primary-250: 124, 188, 145;
      --color-primary-200: 150, 201, 167;
      --color-primary-150: 176, 215, 189;
      --color-primary-100: 202, 228, 211;
      --color-primary-50: 229, 242, 233;
      --color-secondary-900: 12, 12, 12;
      --color-secondary-800: 53, 53, 53;
      --color-secondary-700: 113, 113, 113;
      --color-secondary-600: 117, 117, 117;
      --color-secondary-500: 173, 173, 173;
      --color-secondary-400: 203, 203, 203;
      --color-secondary-300: 237, 237, 237;
      --color-secondary-200: 225, 225, 225;
      --color-secondary-100: 249, 249, 249;
      --color-secondary-0: 255, 255, 255;
      --color-success: 0, 150, 109;
      --color-success-light: 0, 186, 136;
      --color-success-extraLight: 243, 253, 250;
      --color-warning: 169, 121, 28;
      --color-warning-light: 244, 183, 64;
      --color-warning-extraLight: 55, 248, 225;
      --color-error: 195, 0, 0;
      --color-error-light: 237, 46, 46;
      --color-error-extraLight: 255, 242, 242;
      --color-shadow: 0, 0, 0, 0.25;
   }
}

@layer components {
   .btn {
      @apply flex justify-center items-center rounded-sm;
   }

   .btn--sm {
      @apply p-sm gap-x-1 regular-12;
   }

   .btn--md {
      @apply px-md py-sm gap-x-2 medium-16;
   }

   .btn--lg {
      @apply px-md py-sm h-[48px] gap-x-2 medium-16;
   }

   .btn--xl {
      @apply px-md py-sm h-[56px] gap-x-2 medium-16;
   }

   .btn--primary--fill {
      @apply bg-primary-400 text-secondary-0 hover:bg-primary-500 transition-all;
   }

   .btn--primary--stroke {
      @apply bg-transparent border border-primary-400 text-primary-400 hover:border-primary-500
      hover:text-primary-500 transition-all;
   }

   .btn--primary--text {
      @apply bg-transparent text-primary-400 hover:text-primary-500 transition-all;
   }

   .btn--secondary--fill {
      @apply bg-primary-50 text-primary-400 hover:bg-primary-100 transition-all;
   }

   .btn--secondary--stroke {
      @apply bg-transparent border border-secondary-0 text-secondary-0 hover:border-secondary-100
      hover:text-secondary-100 transition-all;
   }

   .btn--secondary--text {
      @apply bg-transparent text-secondary-0 hover:text-secondary-100 transition-all;
   }

   .btn--tertiary--fill {
      @apply bg-secondary-0 text-secondary-800 whitespace-nowrap hover:text-primary-400 transition-all;
   }

   .btn--tertiary--stroke {
      @apply bg-transparent border border-secondary-700 text-secondary-700 hover:border-secondary-800
      hover:text-secondary-800 transition-all;
   }

   .btn--tertiary--text {
      @apply bg-transparent text-secondary-700 hover:text-secondary-800 transition-all;
   }

   .btn--disabled--fill {
      @apply bg-secondary-300 text-secondary-400;
   }

   .btn--disabled--stroke {
      @apply bg-transparent border border-secondary-400 text-secondary-400;
   }

   .btn--disabled--text {
      @apply bg-transparent text-secondary-400;
   }

   .input__container {
      @apply relative;
   }

   .input__label {
      @apply absolute top-0 right-0 transition-all cursor-text text-secondary-800;
   }

   .input {
      @apply outline-none border border-secondary-500 text-secondary-800 rounded-md 
      hover:border-secondary-800 transition-all focus:border-primary-400 focus:text-primary-400;
   }

   .input:hover ~ .input__label {
      @apply text-secondary-800;
   }

   .input:focus + .input__label {
      @apply -translate-y-5 bg-secondary-0 px-1 regular-12 text-primary-400;
   }

   .activatedInput + .input__label {
      @apply -translate-y-5 bg-secondary-0 px-1 regular-12;
   }

   .input:disabled {
      @apply border-secondary-500 bg-transparent;
   }

   .input:disabled ~ .input__label {
      @apply text-secondary-500;
   }

   .input--error,
   .input--error:focus,
   .input--error:hover,
   .input--error ~ .input__label {
      @apply !border-error !text-error;
   }

   .input--sm {
      @apply regular-12 px-md py-sm;
   }

   .input--md {
      @apply regular-14 px-md py-sm;
   }

   .input--lg {
      @apply regular-14 px-md py-[0.6rem];
   }

   .input--xl {
      @apply regular-14 p-md;
   }

   .flexRowCenter {
      @apply flex items-center justify-center;
   }

   .flexRowBetween {
      @apply flex items-center justify-between;
   }

   .flexRowEvenly {
      @apply flex items-center justify-evenly;
   }

   .flexRowStart {
      @apply flex items-center justify-start;
   }

   .flexRowEnd {
      @apply flex items-center justify-end;
   }

   .flexColCenter {
      @apply flex flex-col justify-center items-center;
   }

   .flexColStart {
      @apply flex flex-col justify-start items-center;
   }

   .flexColEnd {
      @apply flex flex-col justify-end items-center;
   }

   /* FONTS */

   .bold-64 {
      @apply text-[64px] font-[700] leading-[140%];
   }

   .bold-56 {
      @apply text-[56px] font-[700] leading-[120%];
   }

   .bold-44 {
      @apply text-[44px] font-[700] leading-[140%];
   }

   .bold-40 {
      @apply text-[40px] font-[700] leading-[140%];
   }

   .bold-32 {
      @apply text-[32px] font-[700] leading-[140%];
   }

   .bold-24 {
      @apply text-[24px] font-[700] leading-[140%];
   }

   .bold-20 {
      @apply text-[20px] font-[700] leading-[140%];
   }

   .bold-16 {
      @apply text-[16px] font-[700] leading-[140%];
   }

   .bold-14 {
      @apply text-[14px] font-[700] leading-[180%];
   }

   .bold-12 {
      @apply text-[12px] font-[700] leading-normal;
   }

   .bold-10 {
      @apply text-[10px] font-[700] leading-[180%];
   }

   .semiBold-20 {
      @apply text-[20px] font-[600] leading-[180%];
   }

   .medium-16 {
      @apply text-[16px] font-[500] leading-[180%];
   }

   .medium-14 {
      @apply text-[14px] font-[500] leading-[170%];
   }

   .regular-20 {
      @apply text-[20px] font-[400] leading-[180%];
   }

   .regular-18 {
      @apply text-[18px] font-[400] leading-[180%];
   }

   .regular-16 {
      @apply text-[16px] font-[400] leading-[180%];
   }

   .regular-14 {
      @apply text-[14px] font-[400] leading-[180%];
   }

   .regular-12 {
      @apply text-[12px] font-[400] leading-[180%];
   }
}

html,
body {
   padding: 0;
   margin: 0;
   font-family: "fontFamily";
   min-height: 100vh;
   background-color: rgb(var(--background-app-rgb));
}

* {
   box-sizing: border-box;
   scroll-behavior: smooth;
   /* border: none; */
   outline: none;
   padding: 0;
   margin: 0;
}

button {
   cursor: pointer;
   outline: none;
}

/* inupt number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   /* display: none; <- Crashes Chrome on hover */
   -webkit-appearance: none;
   margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
   -moz-appearance: textfield; /* Firefox */
}

input::placeholder {
   text-align: right;
}

/* select input */

select {
   appearance: none;
   background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
   background-repeat: no-repeat;
   background-position: left 0.5rem center;
   background-size: 1em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}

/* swiper slider styles */

.swiper {
   position: relative;
   display: block;
}

.swiper-pagination {
   z-index: 20 !important;
   position: relative !important;
   top: -20px !important;
}

.swiper-pagination-bullet {
   width: 4px;
   height: 4px;
   background-color: rgb(var(--color-secondary-500)) !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
   width: 8px;
   height: 8px;
   background-color: rgb(var(--color-primary-400)) !important;
}

.swiper-button-next::after {
   display: none;
}

.swiper-button-prev::after {
   display: none;
}

@media (min-width: 768px) {
   .swiper-pagination {
      top: -25px !important;
   }
   .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background-color: rgb(var(--color-secondary-500)) !important;
   }

   .swiper-pagination-bullet.swiper-pagination-bullet-active {
      width: 12px;
      height: 12px;
      background-color: rgb(var(--color-primary-400)) !important;
   }

   .swiper-button-next {
      background-image: url(/images/slider-arrow-right.svg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
      padding-right: 24px;
   }

   .swiper-button-prev {
      background-image: url(/images/slider-arrow-left.svg);
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: center;
      padding-left: 24px;
   }
}
